/* General styles for login and registration pages */
.container{
  background-image: url(../assets/images/banner-bg.png);
  background-position: center;
  height: 100vh;
  
}
.auth-container {

    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    text-align: center;
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .auth-container input {
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .auth-container input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .auth-container button {
    padding: 12px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s;
  }
  
  .auth-container button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  .auth-container p {
    margin-top: 15px;
    font-size: 14px;
    color: #110d0d;
  }
  
  .auth-container p button {
    background: none;
    color: #0c64f1;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    padding: 0;
  }
  
  .auth-container p button:hover {
    color: #0056b3;
  }
  